<div class="container" style="padding-top:60px;">
  <div class="row">
    
    <div class="col-md-5  col-sm-6 col-xs-12 left_container">
      <div style="margin-right:40px;" class="clearfix">
        <div class="pic_holder" style="text-align:right;">
          <%= image_tag(@message.generated_image.url, :class => "img-responsive") %>
        </div>
        <div style="clear:both;float:right;margin:10px 0px;">
          <div class="btns">
            <a class="bluebtn" href="<%= @message.generated_image.url %>" target="_blank" style="margin-right:20px;">下载图片</a> 
            <a class="bluebtn" href="/new">重新制作</a> 
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-md-7 col-sm-6 col-xs-12 right_container">
      <h1>
        恭喜！完美完成！
      </h1>
      <h2>
        快晒出你 <strong>#不完美的完美#</strong> 吧！<br>
        更好用的大屏手机MX3天天送！更有日本豪华双人游等你赢！<br>
        <a href="/rules" target="_blank">查看获奖规则</a>
      </h2>
      <div class="clear spacer10"></div>
      <!-- JiaThis Button BEGIN -->
      <div class="jiathis_style_32x32">
        <a class="jiathis_button_weixin"></a> <a class="jiathis_button_qzone"></a> <a class="jiathis_button_renren"></a> <a class="jiathis_button_tsina"></a> <a class="jiathis_button_tqq"></a> <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a> <a class="jiathis_counter_style"></a>
      </div>
      <script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js" charset="utf-8">  </script> <!-- JiaThis Button END -->      
    </div>
        
  </div>
  
</div>

