<div class="complete">
	<div class="contwarp_comp">
        <div class="content_comp">
            <div class="advert_comp">
              <%= image_tag(@message.generated_image.url, :class => "" ) %>
            </div>
            <div class="maincont_comp">
			<h3><em>COOL!</em>&nbsp;完美完成！</h3>
                <p><span>快晒出你<em>&nbsp;#不完美的完美#&nbsp;</em></span>更好用的大屏手机MX3天天送！</p>
                <p>更有日本豪华双人游等你赢！</p>
                <p class="rule_comp"><a href="/rules">查看获奖规则</a></p>
                
                <div class="clear spacer10"></div>
                <!-- JiaThis Button BEGIN -->
                <div class="jiathis_style_32x32">
                  <a class="jiathis_button_weixin"></a>
                  <a class="jiathis_button_tsina"></a > <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a> <a class="jiathis_counter_style"></a>
                </div>
                <script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js" charset="utf-8">  </script> <!-- JiaThis Button END -->                      


            </div>
            
            
            
            <div class="cr"></div>
        </div>
    </div>
    <div class="btnbar_comp">
        <a class="normalbtn yellowbtn" href="/new">重新制作</a>
        <a class="normalbtn graybtn" target="_blank" href="<%= @message.generated_image.url %>">下载图片</a>
    </div>
</div>


<% if false %>
<div class="container" style="padding-top:60px;">
  <div class="row">
    
    <div class="col-xs-6 left_container">
      <div style="margin-right:40px;" class="clearfix">
        <div class="pic_holder" style="text-align:right;">
          <%= image_tag(@message.generated_image.url, :class => "" , :style => "width: 415px;") %>
        </div>
        <div style="clear:both;float:right;margin:10px 0px;">
          <div class="btns">
            <a class="bluebtn" href="<%= @message.generated_image.url %>" target="_blank" style="margin-right:20px;">下载图片</a> 
            <a class="bluebtn" href="/new">重新制作</a> 
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-xs-6 right_container">
      <h1>
        恭喜！完美完成！
      </h1>
      <h2>
        快晒出你 <strong>#不完美的完美#</strong> 吧！<br>
        更好用的大屏手机MX3天天送！更有日本豪华双人游等你赢！ <a href="/rules" target="_blank">查看获奖规则</a>
      </h2>
      <div class="clear spacer10"></div>
      <!-- JiaThis Button BEGIN -->
      <div class="jiathis_style_32x32">
        <a class="jiathis_button_weixin"></a> <a class="jiathis_button_qzone"></a> <a class="jiathis_button_renren"></a> <a class="jiathis_button_tsina"></a> <a class="jiathis_button_tqq"></a> <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a> <a class="jiathis_counter_style"></a>
      </div>
      <script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js" charset="utf-8">  </script> <!-- JiaThis Button END -->      
    </div>
        
  </div>
  
</div>

<% end %>