<% content_for :head  do %>
  <%=  stylesheet_link_tag 'onepage' %>
  <%=  javascript_include_tag 'onepage', 'simple-text' %>
  <script>
  $(document).ready(function(){
    $(".main").onepage_scroll({
      sectionContainer: "section"
    });

    $(".rotate").textrotator({
      animation: "fade", // You can pick the way it animates when rotating through words. Options are dissolve (default), fade, flip, flipUp, flipCube, flipCubeUp and spin.
      separator: ",", // If you don't want commas to be the separator, you can define a new separator (|, &, * etc.) by yourself using this field.
      speed: 2000 // How many milliseconds until the next word show.
    });
  });
  </script>
<% end %>



<div class="main">

  <section class="page1">
    
    <div class="container">    
      <hr  class="featurette-divider"/>    
    
      <div class="page_container">
        <h1>
          不完美 <br>
          不完美的 <span class="rotate">相机,音质,天线,屏幕</span>
        </h1>
        <h2>我并不完美。我没有重低音效果箱，没有EQ均衡，不能连接BASS，没有1800万像素，没有不经过服务器就返回预订结果。你如果也想呐喊，请和我一起来。</h2>
      </div>
    </div>  
    <!-- <img src="/images/phones.png" alt="phones"> -->
  </section>

  <section class="page3">
    
    <div class="container">
      
      <hr  class="featurette-divider"/>
      <div class="row">
      
        <div class="col-md-5 col-sm-5">
          <div style="margin-right:40px;">
            <div class="pic_holder" style="text-align:right;">
              <%= image_tag("perfect.png",  :class => "img-responsive", :alt => "perfect") %>
            </div>
          </div>
        </div>
        
        <div class="col-md-7 col-sm-7 page_container">
          <h1>不完美体</h1>
          <h2>精准的2048级亮度调节，让光线过渡如丝般顺滑。夏普New Mode 2技术实现真实细腻的画质，和鲜明的色彩层次。一气呵成的TOL单玻璃全贴合，令你所见的真实与美好仿佛将从屏幕跃然而出。显示宽度超越传统的5.3吋手机，你的视野从此豁然开朗。2.90mm超窄边框，再次趋近无边极限。</h2>
          <div class="btns">
            <a class="bluebtn" href="/new">制作我的不完美体</a>
          </div>
        </div>
      
      </div>  
    </div>
    
  </section>
    
</div>      