<% content_for :head  do %>
  <%=  stylesheet_link_tag 'onepage' %>
  <%#=  javascript_include_tag 'onepage', 'simple-text' %>
  <script>
  $(document).ready(function(){
    // $(".main").onepage_scroll({
    //   sectionContainer: "section",
    //   responsiveFallback: 600
    // });
  });
  </script>
<% end %>



<div class="main">

  <section class="page1">
    
    <div class="container">    
      <hr  class="featurette-divider"/>    
    
      <div class="page_container" style="">
        
        <%= image_tag "banner1.jpg", :class => "" %>                    
        
        <% if false %>
        <h3 style="color:#666;line-height:1.2;">
          没有虚高的像素
          <br/>          
          不是16:9屏幕
          <br/>
          不敢说全球最快
          不敢省成本          
          不会作秀
          <br/>          
          不完美
        </h3>
        <h1 style="text-align:left;margin-bottom:10px;">
          追求极致，轻易不说完美
          <!-- 不完美的 <span class="rotate">相机,音质,天线,屏幕</span> -->
        </h1>
        <h3 style="color:#999;line-height:1.3;font-size:16px;" >5.1吋夏普定制15:9屏幕
          <!-- <br/> -->
更快智能8核处理器
<!-- <br/> -->
索尼顶级800万背照式摄像头
<!-- <br/> -->
让大屏大为好用的Flyme 3.0</h3>
<% end %>

      </div>
    </div>  
    <!-- <img src="/images/phones.png" alt="phones"> -->
  </section>

  <section class="page3">
    
    <div class="container">
      
      <hr  class="featurette-divider"/>
      <div class="row" style="padding-top:0px;padding-bottom:60px;">
      
        <div class="col-xs-6">
          <div style="margin-right:40px;">
            
            <% if false %>
            <!-- Carousel
            ================================================== -->
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <!-- <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
              </ol> -->
              <div class="carousel-inner">
                <div class="item active">
                  <%= image_tag("blank.png",  :class => "", :alt => "perfect") %>
                </div>
              </div>
              <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div><!-- /.carousel -->
            <% end %>
            
            <div class="pic_holder" style="text-align:right;">
              <%= image_tag("j.jpg",  :class => "", :alt => "perfect", :style => "width: 415px;") %>
            </div>
          </div>
        </div>
        

                
        <div class="col-xs-6">
          <h1>关于完美，我有话说</h1>
          <h2>
            也许从来就没有完美<br>
            只有无止境的追求<br>
            超越常规，超乎想象<br>
            无限接近完美<br>
            我，不完美<br>
            但，我敢追<br>
            追求极致，轻易不说完美<br>
            追逐梦想，直面真正的自我<br>
            如果你也和我一样，就大胆说出来
          </h2>
          <div class="btns">            
                    
            <a class="bluebtn" href="/new">制作我的不完美体</a>
            &nbsp&nbsp&nbsp
            <a href="/rules" target="_blank" style="font-size:16px;">查看获奖规则</a>
          </div>
        </div>
      
      </div>  
      
      <!-- <hr  class="featurette-divider"/> -->
            
    </div>
    
  </section>
    
</div>      