<div class="aboutperfect">
	<div class="title_ap"></div>
    <div class="contwarp_ap">
        <div class="content_ap">
            <div class="advert_ap"><img src="/images/imperfect.jpg" /></div>
            <div class="maincont_ap">
            	<h1>关于完美，我有话说</h1>
                <p>也许从来就没有完美</p>
                <p>只有无止境的追求</p>
                <p>超乎常规，超乎想像</p>
                <p>无限接近完美</p>
                <h3>我，不完美</h3>
                <h3>但，我敢追</h3>
                <p>追求极致，轻易不说完美</p>
                <p>追求梦想，直面真正的自我</p>
                <h3>如果你也和我一样，就大胆说出来</h3>
            </div>
            <div class="cr"></div>
        </div>
    </div>
    <div class="btnbar_ap">
      <a class="normalbtn yellowbtn" href="/new">制作我的不完美体</a>
      <a href="/rules" class="rule_ap"><em>查看获奖规则</em><em class="linkicon_ap"></em><em class="cr"></em></a>
    	<div class="cr"></div>	
    </div>
</div>