<% content_for :head  do %>
  <%=  javascript_include_tag 'jquery-rails', 'jquery.iframe-transport', 'remotipart' %>
<% end %>

<div class="container">
  <div class="page-header">
    <h1 id="forms">
      制作不完美体
    </h1>
  </div>
  <% if @message.errors.present? %>
    <div class="alert alert-danger">
      <p>
        <strong>请注意下面问题：</strong>
      </p>
      <p>
        <%= @message.errors.messages.values.flatten.join(", &nbsp&nbsp") %>
      </p>
    </div>
  <% end %>
  
  <% if flash[:notice].present? %>
    <div class="alert alert-danger">
      <%= flash[:notice] %>
    </div>
  <% end %>
  
  <div class="row">
    <div class="col-md-5  col-sm-5">
      
      <!-- <form class="form-horizontal" id="createFrom" method="post" action="/welcome/create" protect_from_csrf="true" accept-charset="UTF-8" enctype="multipart/form-data"> -->
      <% form_for @message, "/welcome/create", :multipart => true, :id => "createFrom", :class => "form-horizontal" do |f| %>        
        <input value="" name="token" type="hidden">        
        <div class="blank1"></div>
        <div class="form-group">

          <label for="inputEmail1" class="col-lg-5 col-sm-6 control-label">我的标签</label>
          <div class="col-lg-6 col-sm-6">
            <p>
              <input type="text" class="form-control" name="message[label]" id="input1" placeholder="偏执狂">              
            </p>
          </div>

        </div>
        <div class="form-group">
          <label for="inputEmail1" class="col-lg-5 col-sm-6 control-label">我的不完美</label>
          <div class="col-lg-6 col-sm-6">
            <p>
              <input type="text" class="form-control" name="message[content][1]" id="input2" placeholder="没有文凭">
            </p>
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail1" class="col-lg-5 col-sm-6 control-label"></label>
          <div class="col-lg-6 col-sm-6">
            <p>
              <input type="text" class="form-control" name="message[content][2]" id="input3" placeholder="没有天使投资">
            </p>
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail1" class="col-lg-5 col-sm-6 control-label"></label>
          <div class="col-lg-6 col-sm-6">
            <p>
              <input type="text" class="form-control" name="message[content][3]" id="input4" placeholder="不善交际">
            </p>
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail1" class="col-lg-5 col-sm-6 control-label"></label>
          <div class="col-lg-6 col-sm-6">
            <p>
              <input type="text" class="form-control" name="message[content][4]" id="input5" placeholder="没有背景">
            </p>
          </div>
        </div>
        <div class="blank2"></div>
        <div class="form-group">
          <label for="inputEmail1" class="col-lg-5 col-sm-6 control-label">我的名号</label>
          <div class="col-lg-6 col-sm-6">
            <p>
              <input type="text" class="form-control" name="message[name]" id="input6" placeholder="黄章">
            </p>
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail1" class="col-lg-5 col-sm-6 control-label">我的骄傲</label>
          <div class="col-lg-6 col-sm-6">
            <p>
              <input type="text" class="form-control" name="message[desc][1]" id="input7" placeholder="魅族科技的创始人">
            </p>
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail1" class="col-lg-5 col-sm-6 control-label"></label>
          <div class="col-lg-6 col-sm-6">
            <p>
              <input type="text" class="form-control" name="message[desc][2]" id="input8" placeholder="MX系列手机总设计师">
            </p>
          </div>
        </div>
      <% end %>
      
      <!-- <form class="form-horizontal" method="post" action="/welcome/upload" protect_from_csrf="true" accept-charset="UTF-8" enctype="multipart/form-data" data-remote="true">        -->
      <% form_for @message, "/welcome/upload", :multipart => true, :id => "createFrom", :class => "form-horizontal", :remote => true do |f| %>                
        <div class="form-group">
          <label for="inputEmail1" class="col-lg-5 col-sm-6 control-label">我的照片</label>      
          <div class="col-lg-6 col-sm-6">
            <p>              
              <input type="file" id="upload_input" name="image">
            </p>
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail1" class="col-lg-5 col-sm-6 control-label"></label>                
          <div class="col-lg-6 col-sm-6">
            <button type="submit" class="bluebtn" id="submit-generate">提交</button>
          </div>
        </div>
      <% end %>
      
      
    </div>
    <div class="col-md-7 col-sm-7">    
        
      <div class="img-div img-responsive" unselectable="none" onselectstart="return false;">
        <div class="pic-div">
          <img src="" style="display:none;">
        </div>
        <div class="div-on-img-1">
          <div class="p-on-img" id="top-line1" unselectable="none" onselectstart="return false;">
            偏执狂
          </div>
          <div class="p-on-img" id="top-line2" unselectable="none" onselectstart="return false;">
            没有文凭
          </div>
          <div class="p-on-img" id="top-line3" unselectable="none" onselectstart="return false;">
            没有天使投资
          </div>
          <div class="p-on-img" id="top-line4" unselectable="none" onselectstart="return false;">
            不善交际
          </div>
          <div class="p-on-img" id="top-line5" unselectable="none" onselectstart="return false;">
            没有背景
          </div>
        </div>
        <div class="div-on-img-2">
          <div class="p-on-img" id="top-line6" unselectable="none" onselectstart="return false;">
            黄章
          </div>
          <div class="p-on-img" id="top-line7" unselectable="none" onselectstart="return false;">
            魅族科技的创始人
          </div>
          <div class="p-on-img" id="top-line8" unselectable="none" onselectstart="return false;">
            MX系列手机总设计师
          </div>
        </div>
        
        <p style="font-size: 15px;position: absolute;bottom: -35px;"><a href="/images/blank.png" target="_blank">下载制作素材</a></p>        
      </div>
    </div>
  </div>
  

</div>
