<% content_for :head  do %>
  <%=  javascript_include_tag 'jquery-rails', 'jquery.iframe-transport', 'remotipart' %>
<% end %>


<div class="myimperfect">
     
	<div class="contwarp_myim">
        <div class="content_myim">
            <div class="advert_myim"><img src="/images/imperfect.jpg" /></div>
            <div class="maincont_myim">
              <% form_for @message, "/welcome/create", :multipart => true, :id => "createFrom", :class => "form-horizontal" do |f| %>        
                <input value="" name="token" type="hidden">   
                
                	<table>
                    	<tr>
                        	<th>我的标签</th>
                        	<td>
              <input type="text" class="form-control" name="message[label]" id="input1" placeholder="偏执狂">                                        <p>给自己贴个最能代表你特点的标签，如文艺青年，数码控...</p></td>
                        </tr>
                        <tr>
                        	<th>我的不完美</th>
                        	<td>
                            <input type="text" class="form-control" name="message[content][1]" id="input1" placeholder="没有文凭"><br />
                            <input type="text" class="form-control" name="message[content][2]" id="input2" placeholder="没有文凭"><br />
                            <input type="text" class="form-control" name="message[content][3]" id="input3" placeholder="没有文凭"><br />
                            <input type="text" class="form-control" name="message[content][4]" id="input4" placeholder="没有文凭">
                            <p>说说你可能不太完美的地方，如至今未婚，没房没车...</p></td>
                        </tr>
                        <tr>
                        	<th>我的名号</th>
                        	<td>
                            <input type="text" class="form-control" name="message[name]" id="input6" placeholder="黄章">
                            <p>留下你在江湖最响亮的大名，如方铭，令狐道人...</p></td>
                        </tr>
                        <tr>
                        	<th>我的骄傲</th>
                        	<td>
                                          <input type="text" class="form-control" name="message[desc][1]" id="input7" placeholder="魅族科技的创始人"><br />
                                          <input type="text" class="form-control" name="message[desc][2]" id="input8" placeholder="MX系列手机总设计师">
                            <p>亮出令你骄傲的身份，如iFanr创始人，两个孩子深爱的老爸...</p></td>
                        </tr>
                        <tr>
                        	<th>我的照片</th>
                        	<td><a class="uploadbtn"><button>选择文件</button></a></td>
                        </tr>
                    </table>
                  <% end %>
                  
         <% form_for @message, "/welcome/upload", :multipart => true, :id => "createFrom", :class => "form-horizontal", :remote => true do |f| %>                                  
              <table>                  
                  <tr>
                  	<th>我的照片</th>
                  	<td>
                       <input type="file" id="upload_input" name="image">
                    </td>
                  </tr>
              </table>              
              
          <% end %>    
            </div>
            <div class="cr"></div>
        </div>
    </div>
    
    <div class="btnbar_myim">
        <a class="normalbtn yellowbtn">
          <button type="submit" class="bluebtn" id="submit-generate">提交</button>
        </a>
          <a class="normalbtn graybtn" href="/images/不完美活动素材.psd">素材下载</a>
    </div>

    

</div>

<% if false %>
<div class="container">
  <div class="page-header">
    <h1 id="forms">
      制作不完美体
    </h1>
  </div>
  <% if @message.errors.present? %>
    <div class="alert alert-danger">
      <p>
        <strong>请注意下面问题：</strong>
      </p>
      <p>
        <%= @message.errors.messages.values.flatten.join(", &nbsp&nbsp") %>
      </p>
    </div>
  <% end %>
  
  <% if flash[:notice].present? %>
    <div class="alert alert-danger">
      <%= flash[:notice] %>
    </div>
  <% end %>
  
  <div class="row">
    <div class="col-xs-5">
      
      <!-- <form class="form-horizontal" id="createFrom" method="post" action="/welcome/create" protect_from_csrf="true" accept-charset="UTF-8" enctype="multipart/form-data"> -->
      <% form_for @message, "/welcome/create", :multipart => true, :id => "createFrom", :class => "form-horizontal" do |f| %>        
        <input value="" name="token" type="hidden">        
        <div class="blank1"></div>
        <div class="form-group">

          <label for="inputEmail1" class="col-lg-5 col-sm-6 control-label">我的标签</label>
          <div class="col-lg-6 col-sm-6">
            <p>
              <input type="text" class="form-control" name="message[label]" id="input1" placeholder="偏执狂">              
            </p>
          </div>

        </div>
        <div class="form-group">
          <label for="inputEmail1" class="col-lg-5 col-sm-6 control-label">我的不完美</label>
          <div class="col-lg-6 col-sm-6">
            <p>
              <input type="text" class="form-control" name="message[content][1]" id="input2" placeholder="没有文凭">
            </p>
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail1" class="col-lg-5 col-sm-6 control-label"></label>
          <div class="col-lg-6 col-sm-6">
            <p>
              <input type="text" class="form-control" name="message[content][2]" id="input3" placeholder="没有天使投资">
            </p>
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail1" class="col-lg-5 col-sm-6 control-label"></label>
          <div class="col-lg-6 col-sm-6">
            <p>
              <input type="text" class="form-control" name="message[content][3]" id="input4" placeholder="不善交际">
            </p>
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail1" class="col-lg-5 col-sm-6 control-label"></label>
          <div class="col-lg-6 col-sm-6">
            <p>
              <input type="text" class="form-control" name="message[content][4]" id="input5" placeholder="没有背景">
            </p>
          </div>
        </div>
        <div class="blank2"></div>
        <div class="form-group">
          <label for="inputEmail1" class="col-lg-5 col-sm-6 control-label">我的名号</label>
          <div class="col-lg-6 col-sm-6">
            <p>
              <input type="text" class="form-control" name="message[name]" id="input6" placeholder="黄章">
            </p>
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail1" class="col-lg-5 col-sm-6 control-label">我的骄傲</label>
          <div class="col-lg-6 col-sm-6">
            <p>
              <input type="text" class="form-control" name="message[desc][1]" id="input7" placeholder="魅族科技的创始人">
            </p>
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail1" class="col-lg-5 col-sm-6 control-label"></label>
          <div class="col-lg-6 col-sm-6">
            <p>
              <input type="text" class="form-control" name="message[desc][2]" id="input8" placeholder="MX系列手机总设计师">
            </p>
          </div>
        </div>
      <% end %>
      
      <!-- <form class="form-horizontal" method="post" action="/welcome/upload" protect_from_csrf="true" accept-charset="UTF-8" enctype="multipart/form-data" data-remote="true">        -->
      <% form_for @message, "/welcome/upload", :multipart => true, :id => "createFrom", :class => "form-horizontal", :remote => true do |f| %>                
        <div class="form-group">
          <label for="inputEmail1" class="col-lg-5 col-sm-6 control-label">我的照片</label>      
          <div class="col-lg-6 col-sm-6">
            <p>              
              <input type="file" id="upload_input" name="image">
            </p>
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail1" class="col-lg-5 col-sm-6 control-label"></label>                
          <div class="col-lg-6 col-sm-6">
            <button type="submit" class="bluebtn" id="submit-generate">提交</button>
          </div>
        </div>
      <% end %>      
      
    </div>
    <div class="col-xs-7">            
      <div class="img-div " unselectable="none" onselectstart="return false;">
        <div class="pic-div">
          <img src="" style="display:none;">
        </div>
        <div class="div-on-img-1">
          <div class="p-on-img" id="top-line1" unselectable="none" onselectstart="return false;">
            偏执狂
          </div>
          <div class="p-on-img" id="top-line2" unselectable="none" onselectstart="return false;">
            没有文凭
          </div>
          <div class="p-on-img" id="top-line3" unselectable="none" onselectstart="return false;">
            没有天使投资
          </div>
          <div class="p-on-img" id="top-line4" unselectable="none" onselectstart="return false;">
            不善交际
          </div>
          <div class="p-on-img" id="top-line5" unselectable="none" onselectstart="return false;">
            没有背景
          </div>
        </div>
        <div class="div-on-img-2">
          <div class="p-on-img" id="top-line6" unselectable="none" onselectstart="return false;">
            黄章
          </div>
          <div class="p-on-img" id="top-line7" unselectable="none" onselectstart="return false;">
            魅族科技的创始人
          </div>
          <div class="p-on-img" id="top-line8" unselectable="none" onselectstart="return false;">
            MX系列手机总设计师
          </div>
        </div>
        
        <p style="font-size: 15px;position:absolute; bottom: -35px;"><a href="/images/不完美活动素材.psd" target="_blank">下载制作素材</a></p>        
      </div>
    </div>
  </div>
  

</div>
<% end %>