<div class="container" style="max-width:950px;padding-top:100px;">
  <div class="row">
    <div class="col-md-12" style="text-align:center;position:relative;">
      <!-- <a class="bluebtn" style="background-color:#3eb559;font-size: 32px;
border-radius: 10px;
left: 409px;
top: 480px;
position: absolute;" href="/new">重新制作</a>        -->
      <%= image_tag("rules.jpg",  :class => "img-responsive", :alt => "rules") %>
    </div>    
  </div>

</div>