<div class="activerule">
	<div class="title_rule"></div>
    <div class="contwarp_rule">
        <div class="content_rule">
            <div class="head_rulecont">即日起至11月30日，登录wanmei.meizu.com，晒出你<a> #不完美的完美#</a>，创玩你的专属不完美体。一键分享至微博或微信，<em>魅族MX3手机天天送！</em>更有极致完美梦幻大奖 —— <em>5天4夜日本豪华双人游！</em></div>
            <div class="weibo_rule">
            	<h3>微博活动细则</h3>
                <div class="prizeset">
                	<h5>奖品设置：</h5>
                    <ul>
                        <li>
                        	<div class="pic_prize"><img src="/images/prize_mx.jpg" /></div>
                            <div class="info_prize"><em>每日一名</em><br />魅族MX3手机黑白版（16G）</div>
                            <div class="cr"></div>
                        </li>
                        <li>
                        	<div class="pic_prize"><img src="/images/prize_mx.jpg" /></div>
                            <div class="info_prize"><em>每5万转发一名</em><br />魅族MX3手机黑白版（16G）</div>
                            <div class="cr"></div>
                        </li>
                        <li>
                        	<div class="pic_prize"><img src="/images/prize_jp.jpg" /></div>
                            <div class="info_prize"><em>完美大奖</em><br />日本5天4夜豪华双人游X1</div>
                            <div class="cr"></div>
                        </li>
                        <li class="cr"></li>
                    </ul>
                </div>
                <div class="cr"></div>
                <div class="activetime">
                	<h5>活动时间：</h5>
                    <p>即日起 - 2013.11.30</p>
                </div>
                <div class="activemethod">
                	<h5>活动方式：</h5>
                    <p>1，带话题＃不完美的完美＃转发此条微博，每5万转发即随机抽取一名幸运者送出MX3（16G）；</p>
                    
                    <p>2，登录wanmei.meizu.com晒出你 “不完美的完美”，创玩你的专属不完美体，一键分享至微博；</p>
                    
                    <p>3，我们将每天送出一台MX3（16G）给最赞的不完美体创作者，并于次日上午公布获奖者，可在“魅族科技”官方微博及wanmei.meizu.com查看前一天的获奖名单及其作品；</p>
                    <p>4，11月30日，我们将在新浪微博所有参与者中抽取一名幸运者，送出本次活动的极致梦幻大奖——5天4夜日本豪华双人游！获奖信息于次日公布。</p>
                </div>
            </div>
            <div class="weixin_rule">
            	<h3>微信活动细则</h3>
                <div class="prizeset">
                	<h5>奖品设置：</h5>
                    <ul>
                        <li>
                        	<div class="pic_prize"><img src="/images/prize_mx.jpg" /></div>
                            <div class="info_prize"><em>每日一名</em><br />魅族MX3手机黑白版（16G）</div>
                            <div class="cr"></div>
                        </li>
                        <li>
                        	<div class="pic_prize"><img src="/images/prize_jp.jpg" /></div>
                            <div class="info_prize"><em>完美大奖</em><br />日本5天4夜豪华双人游X1</div>
                            <div class="cr"></div>
                        </li>
                        <li class="cr"></li>
                    </ul>
                </div>
                <div class="cr"></div>
                <div class="activetime">
                	<h5>活动时间：</h5>
                    <p>即日起 - 2013.11.30</p>
                </div>
                <div class="activemethod">
                	<h5>活动方式：</h5>
                    <p>1，前往魅族官方活动页面 wanmei.meizu.com 参与活动，将生成的 “不完美的完美” 图片分享到自己的朋友圈，同时发送至 “魅族手机” 订阅号（微信号：meizuzone）；</p>
                    <p> 2，“魅族手机” 订阅号界面回复“wm”直接开始制作你的专属不完美体，将生成的 “不完美的完美” 图片分享到自己的朋友圈；</p>
                    <p>3，我们将每天送出一台MX3（16G）给最赞的不完美体创作者，并于次日上午公布获奖者，用户只需在 “魅族手机” 订阅号界面回复文字 “获奖名单” 即可获取前一天的获奖名单及其作品；</p>
                    <p>4， 11月30日，我们将在微信平台所有参与者中抽取一名幸运者，送出本次活动的极致梦幻大奖——5天4夜日本豪华双人游！获奖信息于次日公布</p>
                </div>
            </div>
        </div>
    </div>
</div>