<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>完美完成</title>
<link type="text/css" rel="stylesheet" href="css/main.css" />
</head>

<body>
<div class="container_comp">
    <div id="header">
    	<div class="headinner_h">
            <div class="mzlogo_h"><a href="http://www.meizu.com/"></a></div>
            <div class="login_h"><a>登录</a><em>/</em><a>注册</a></div>
            <div class="cr"></div>
        </div>
        <div class="border_bt1"></div>
        <div class="border_bt2"></div>
        <div class="border_bt3"></div>
    </div>
    <div class="complete">
    	<div class="contwarp_comp">
            <div class="content_comp">
                <div class="advert_comp"><img src="image/imperfect.jpg" /></div>
                <div class="maincont_comp">
					<h3><em>COOL!</em>&nbsp;完美完成！</h3>
                    <p><span>快晒出你<em>&nbsp;#不完美的完美#&nbsp;</em></span>更好用的大屏手机MX3天天送！</p>
                    <p>更有日本豪华双人游等你赢！</p>
                    <p class="rule_comp"><a href="javascript:void(0);">查看获奖规则</a></p>
                </div>
                <div class="cr"></div>
            </div>
        </div>
        <div class="btnbar_comp">
            <a class="normalbtn yellowbtn">重新制作</a><a class="normalbtn graybtn">下载图片</a>
        </div>
    </div>
    <div id="footer">
    	<div id="footer1">
        <a class="bottoma" href="http://www.meizu.com/about.html" target="_blank" hidefocus="true">关于魅族</a>
        <a class="bottoma" target="_blank" href="http://www.meizu.com/legalStatement.html" hidefocus="true">法律声明</a>
        <a class="bottoma" href="http://www.meizu.com/job.html" target="_blank" hidefocus="true">工作机会</a>
        <a class="bottoma" href="http://www.meizu.com/contact.html" target="_blank" hidefocus="true">联系我们</a>
        <a id="globalName" class="bottoma language" href="javascript:void(0);" hidefocus="true">简体中文</a>
        </div>
        <div id="footer2" class="copyright">
        	<span>Copyright ©2013 Meizu Telecom Equipment Co., Ltd. All rights reserved.</span>
			<a target="_blank" href="http://res.meizu.com/resources/www/images/icp2.jpg" hidefocus="true">经营许可证编号：粤B2-20130198</a>
        </div>
    </div>
</div>
</body>
</html>
