<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>我的不完美</title>
<link type="text/css" rel="stylesheet" href="css/main.css" />
</head>

<body>
<div class="container_myim">
    <div id="header">
    	<div class="headinner_h">
            <div class="mzlogo_h"><a href="http://www.meizu.com/"></a></div>
            <div class="login_h"><a>登录</a><em>/</em><a>注册</a></div>
            <div class="cr"></div>
        </div>
        <div class="border_bt1"></div>
        <div class="border_bt2"></div>
        <div class="border_bt3"></div>
    </div>
    <div class="myimperfect">
    <form>
    	<div class="contwarp_myim">
            <div class="content_myim">
                <div class="advert_myim"><img src="image/imperfect.jpg" /></div>
                <div class="maincont_myim">
                    	<table>
                        	<tr>
                            	<th>我的标签</th>
                            	<td><input /><p>给自己贴个最能代表你特点的标签，如文艺青年，数码控...</p></td>
                            </tr>
                            <tr>
                            	<th>我的不完美</th>
                            	<td><input /><br /><input /><br /><input /><br /><input /><p>说说你可能不太完美的地方，如至今未婚，没房没车...</p></td>
                            </tr>
                            <tr>
                            	<th>我的名号</th>
                            	<td><input /><p>留下你在江湖最响亮的大名，如方铭，令狐道人...</p></td>
                            </tr>
                            <tr>
                            	<th>我的骄傲</th>
                            	<td><input /><br /><input /><p>亮出令你骄傲的身份，如iFanr创始人，两个孩子深爱的老爸...</p></td>
                            </tr>
                            <tr>
                            	<th>我的照片</th>
                            	<td><a class="uploadbtn"><button>选择文件</button></a></td>
                            </tr>
                        </table>
                   
                </div>
                <div class="cr"></div>
            </div>
        </div>
        <div class="btnbar_myim">
            <a class="normalbtn yellowbtn"><button type="submit">提交</button></a><a class="normalbtn graybtn">素材下载</a>
        </div>
    </form>
    </div>
    <div id="footer">
    	<div id="footer1">
        <a class="bottoma" href="http://www.meizu.com/about.html" target="_blank" hidefocus="true">关于魅族</a>
        <a class="bottoma" target="_blank" href="http://www.meizu.com/legalStatement.html" hidefocus="true">法律声明</a>
        <a class="bottoma" href="http://www.meizu.com/job.html" target="_blank" hidefocus="true">工作机会</a>
        <a class="bottoma" href="http://www.meizu.com/contact.html" target="_blank" hidefocus="true">联系我们</a>
        <a id="globalName" class="bottoma language" href="javascript:void(0);" hidefocus="true">简体中文</a>
        </div>
        <div id="footer2" class="copyright">
        	<span>Copyright ©2013 Meizu Telecom Equipment Co., Ltd. All rights reserved.</span>
			<a target="_blank" href="http://res.meizu.com/resources/www/images/icp2.jpg" hidefocus="true">经营许可证编号：粤B2-20130198</a>
        </div>
    </div>
</div>
</body>
</html>
