<% content_for :head  do %>
  <%=  stylesheet_link_tag 'onepage' %>
<% end %>


<div class="main">

  <section class="page1" style="margin-top:100px;">
    <div class="page_container">
      <h1>
        不完美 <br>
      </h1>
      <h2>没有找到对应页面</h2>
    </div>
  </section>

</div>