<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>魅族活动</title>
	<meta name="title" content="魅族活动" />
  <meta name="keywords" content="魅族,MEIZU,魅族智能手机,魅族MX2"/>
  <meta name="description" content="#不完美的完美#我不完美，但我敢追。如果你也和我一样，来wanmei.meizu.com分享你“不完美的完美”，赢人气hot机MX3！更有日本豪华双人游！"/>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no">

	<link rel="shortcut icon" id="favicon" href="/favicon.ico"> 
	<script type="text/javascript" src="/javascripts/jquery.js"></script>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />        
  <%=  stylesheet_link_tag 'application' %>
  <%=  javascript_include_tag 'application' %>
      
   <%= yield_content :head %>
 </head>
<body>
  <div class="wrapper">

	    
      <%= yield %>
      	    
    <div class="back">
      <a class="" href="/">首页</a> &nbsp&nbsp
      <a class="" href="http://www.meizu.cn">魅族官网</a>          
    </div>

  </div>
  
  <script type="text/javascript">
  var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
  document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fe3f93bc25582ebfecec8a02ba27910c2' type='text/javascript'%3E%3C/script%3E"));
  </script>
  
  <!-- // <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script> -->

  
</body>
</html>